<div class="container-fluid">
  <div class="listings">
    <div class="filters">
    </div>
      <div class="row">
        {{#each data}}
          <div class="card" style="width: 18rem;">
            <img src="https://dummyimage.com/250x200/555555/fff" class="card-img-top" alt={{heading}}>
            <div class="card-body">
              <h5 class="card-title">{{heading}} - {{price}}</h5>
              <p class="card-text">Brand: {{brand}}<br />
                Model: {{model}}<br />
                OS: {{oper_sys}}<br />
                Condition: {{condition}}<br />
                Price: {{price}}<br />
                Description: {{description}}</p>
              <div class="d-grid">  
              <a href="#" class="btn btn-primary">View Listing</a>
              </div>
            </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>