<div class="container-fluid">
  <div class="listings">
    <div class="filters">
    <select>
      <option>Brand</option>
      <option>Acer</option>
      <option value="">Alienware</option>
      <option value="">Apple</option>
      <option value="">ASUS</option>
      <option value="">Dell</option>
      <option value="">HP</option>
      <option value="">Lenovo</option>
      <option value="">Microsoft</option>
      <option value="">MSI</option>
      <option value="">Samsung</option>
    </select>
    <select>
      <option>Price</option>
      <option>$0-$499</option>
      <option value="">$500-$699</option>
      <option value="">$700-$999</option>
      <option value="">$1000-$1499</option>
      <option value="">$1500+</option>
    </select>
    <select>
      <option>Condition</option>
      <option>New in Box</option>
      <option value="">Excellent</option>
      <option value="">Very Good</option>
      <option value="">Good</option>
      <option value="">Fair</option>
      <option value="">Poor</option>
      <option value="">Parts Only</option>
    </select>
    </div>
      <div class="row">
        {{#each data}}
          <div class="card" style="width: 18rem;">
            <img src="https://dummyimage.com/250x200/555555/fff" class="card-img-top" alt={{heading}}>
            <div class="card-body">
              <h5 class="card-title">{{heading}} - {{price}}</h5>
              <p class="card-text">Brand: {{brand}}<br />
                Model: {{model}}<br />
                OS: {{oper_sys}}<br />
                Condition: {{condition}}<br />
                Description: {{description}}</p>
              <div class="d-grid">  
              <a href="#" class="btn btn-primary">View Listing</a>
              </div>
            </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>