<div class="container-fluid">
  <div class="listings">
    <div class="filters">
      <div class="filters">
        <select class="form-select" aria-label="Brand Filter">
          <option selected>Brand</option>
          <option value="Acer">Acer</option>
          <option value="Alienware">Alienware</option>
          <option value="Apple">Apple</option>
          <option value="ASUS">ASUS</option>
          <option value="Dell">Dell</option>
          <option value="HP">HP</option>
          <option value="Lenovo">Lenovo</option>
          <option value="Microsoft">Microsoft</option>
          <option value="MSI">MSI</option>
          <option value="Samsung">Samsung</option>
        </select>
        <select class="form-select" aria-label="Price Filter">
          <option selected>Price</option>
          <option value="$0-$499">$0-$499</option>
          <option value="$500-$699">$500-$699</option>
          <option value="$700-$999">$700-$999</option>
          <option value="$1000-$1499">$1000-$1499</option>
          <option value="$1500+">$1500+</option>
        </select>
        <select class="form-select" aria-label="Condition Filter">
          <option selected>Condition</option>
          <option value="New in Box">New in Box</option>
          <option value="Excellent">Excellent</option>
          <option value="Very Good">Very Good</option>
          <option value="Good">Good</option>
          <option value="Fair">Fair</option>
          <option value="Poor">Poor</option>
          <option value="Parts Only">Parts Only</option>
        </select>
    </div>
      <div class="row">
        {{#each data as |data|}}
          <div class="card" style="width: 18rem;">
            <img src="https://dummyimage.com/250x200/555555/fff" class="card-img-top" alt={{heading}}>
            <div class="card-image" style="background-image: url(images/{{image_file}})"></div>
            <div class="card-body">
              <h5 class="card-title">{{heading}} - ${{price}}</h5>
              <p class="card-text">Brand: {{brand}}<br />
                Model: {{data.model}}<br />
                OS: {{data.oper_sys}}<br />
                Condition: {{data.condition}}<br />
                Price: ${{data.price}}<br />
                Description: {{data.description}}</p>
              <div class="d-grid">  
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#listingModal">View Listing</a>
              </div>
            </div>
        {{/each}}
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade modal-xl" id="listingModal" tabindex="-1" aria-labelledby="listingModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="listingModalLabel">{{data.heading}} - ${{data.price}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-4 d-grid gap-2">
                  <img src="{{data.filepath}}" class="card-img-top" alt={{data.heading}}>
                  <button class="btn btn-success" href="#">Buy Now</button>
                  <button class="btn btn-primary" href="#">Contact Seller</button>
                </div>
                <div class="col-8">
                  Brand: {{data.brand}}<br />
                  Model: {{data.model}}<br />
                  OS: {{data.oper_sys}}<br />
                  Condition: {{data.condition}}<br />
                  Price: ${{data.price}}<br />
                  Description: {{data.description}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
